.about-container {
  min-height: 100vh;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about{
  top:0;
}
.about-container section {
  max-width: 45rem;
}

.about-container h3 {
  color: var(--color-accent);
  font-size: 2rem;
  text-shadow: 10px 10px 30 #000, 10px 10px 30 blue;
}

.about-container h1 {
  font-family: "Playfair Display";
  font-size: 3.2rem;
}

@media screen and (min-width: 768px) {
  .about-container h1 {
    font-size: 5rem;
  }
}

.about-container p {
  font-size: 2rem;
  margin-top: 30px;
  margin-bottom: 30px;
}

.about-container .buttons-container {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.buttons-container button {
  cursor: not-allowed;
}
