.home-bg-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

@media screen and (min-width: 768px) {
  .home-bg-container {
    background-image: url("https://res.cloudinary.com/dhaj9wlmu/image/upload/v1704426723/image_h5wkuu.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
  }
}
